footer{
    background: linear-gradient(to bottom,rgb(243, 243, 96), lightgoldenrodyellow) ;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: black;
    font-size: 2rem;
    

    
    
}