
.logo {
    
    text-decoration: none;
    font-size: 60rem;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 0px;
    animation-duration: 3s;
    animation-name: aparecer;
    

}

.container-fluid{
    justify-items: flex-start;

}



@keyframes aparecer {
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}

}

.navbar{
    background-color: whitesmoke;
    padding: 3rem;

}
    
.navbar-collapse{
    flex-grow: 0;
    font-size: 3rem;
   
   
    
    
}

.navbar-nav{
    gap: 2rem;
}

