@media screen and (max-width: 320px) {
    
  
      h1{
          justify-content: center;
      }
  
      ul{
          flex-direction: column;
          align-content: center;
      }

      .navbar-collapse{
          border-radius: 0%;
          background-color: whitesmoke;
      }
}


@media screen and (max-width: 768px){




    h1{
        justify-content: center;
    }

    ul{
        flex-direction: column;
        align-content: center;
    }

    .navbar-collapse{
        border-radius: none;
        background-color: whitesmoke;
    }
}


