@media screen and (min-width: 576px) {
    
  
      h1{
          justify-content: center;
      }
  
      ul{

          align-content: center;
      }

      .navbar-collapse{
          border-radius: 0%;
          background-color: whitesmoke;
      }


      
}


@media screen and (min-width: 768px){


    h1{
        justify-content: center;
    }

    ul{
        
        align-content: center;
    }

    .navbar-collapse{
        border-radius: 0%;
        background-color: whitesmoke;
    }
    

    
}

@media screen and (max-width: 1200px){
        .productos{
            flex-wrap: wrap;
        
        }
        
        .row{
            display: flex;
           
        }
}

@media screen and (max-width: 576px) {
    iframe{
        width: fit-content;
        height: fit-content;
    }

    div figcaption{
        margin-right: 0px;
    }
    
}